.header{
    width: 100;
    height: 50px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.logo{
    color: white;
     font-size: 20px;
}
.header ul li{

    list-style-type: none;
    
}
.header ul{
    display: inline-flex;
    gap: 10px;

}

.header ul li a{
    color: white;
    text-decoration: none;
}
.cart-count{
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(34, 34, 123);
    color: white;
    font-size: 12px;
    text-align: center;

}